.display_navbar_container {
    width: 100%;
    position: relative;
    height: 5vh;
}

.display_ul {
    display: inline;
    position: absolute;
    left: 10%;
}
.display_li {
    display: inline;
    font-size: 20px;
    margin-left: 160px;
    text-transform: uppercase;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .display_navbar_container {
    }
    .display_ul {
        left: -5%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
    
    }
    .display_li {
        margin-left: 0px;

    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .display_navbar_container {
    }
    .display_ul {
        left: -5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
    
    }
    .display_li {
        margin-left: 0px;

    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .display_navbar_container {
    }
    .display_ul {
        left: -5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
    
    }
    .display_li {
        margin-left: 0px;
        font-size: 16px;
    }
    
  }