.newsletter_section_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 20vh;
}

.newsletter_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.newsletter_container input {
    padding: 10px;
    border:none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: #EEEdE9;
}

@media (min-width: 1281px) {
  
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .newsletter_container h4 {
    font-size: 20px;
    text-align: center;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .newsletter_container h4 {
    font-size: 20px;
    text-align: center;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .newsletter_container h4 {
        font-size: 20px;
        text-align: center;
      }

}